body {
    font-family: "Arial Black, Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    height: 100%;
    min-height: 100%
}

html {
    height: 100%;
    min-height: 100%
}

a {
    text-decoration: none;
    color: #5a3015
}

a:hover {
    text-decoration: none;
    color: #00ce1b
}

a:visited {
    text-decoration: none;
    color: #5a3015
}

a:active {
    text-decoration: none;
    color: #00ce1b
}

.background {
    background: url(../img/texture_2.jpg)
}

section .main {
    padding-top: 150px;
    text-align: center;
    height: 600px;
    background-size: cover;
}

section .main-mob {
    align-content: center;
    padding-top: 240px;
    text-align: center;
    height: 600px;
    background-size: cover;
}

.main-text-label {
    font: 700 48px 'Arial Black'
}

.main-text-label-mob {
    font: 700 40px 'Arial Black'
}

.main-label {
    width: 120px;
    height: 120px
}

.main-label-test {
    width: 234px;
    height: 180px
}

.main-label-mob {
    width: 90px;
    height: 90px
}

.nav-text-label {
    font: 700 30px 'Arial Black'
}

.nav-label {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    margin-left: 5px
}

.footer-text-label {
    font: 700 32px 'Arial Black'
}

section .categories {
    background: url(../img/texture_1.jpg);
    padding-top: 50px;
    padding-bottom: 50px
}

section .category-description {
    background: url(../img/texture_1.jpg);
    padding-top: 50px;
    padding-bottom: 50px
}

section .all-products {
    background: url(../img/texture_2.jpg);
    padding-top: 50px
}

section .payments {
    background: url(../img/texture_2.jpg);
    padding-top: 50px
}

section .delivery {
    background: url(../img/texture_1.jpg);
    padding-top: 50px
}

.category {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center
}

.text-delivery {
    text-align: center;
    color: grey;
    font-style: italic;
    padding-top: 25px;
    padding-bottom: 25px
}

section .login {
    background-color: #fff;
    color: grey;
    padding-top: 95px;
    padding-bottom: 95px;
    text-align: center
}

section .products {
    background: url(../img/texture_2.jpg);
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center
}

.product {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center
}

section .edit-section div {
    padding-bottom: 10px
}

.text-payments {
    text-align: center;
    color: grey;
    font-style: italic;
    padding-top: 25px;
    padding-bottom: 25px
}

.text-all-products {
    text-align: right;
    font-style: italic;
    padding-top: 25px;
    padding-bottom: 25px
}

section .contacts {
    background: url(../img/texture_1.jpg);
    padding-top: 40px;
    padding-bottom: 30px
}

.footer {
    background-size: cover;
    padding-bottom: 0
}

footer div {
    color: #5a3015;
    padding-top: 8px;
    padding-bottom: 8px
}

footer div a:hover {
    text-decoration: underline
}

footer div h5 {
    padding-top: 10px
}

section .one-product {
    background: url(../img/texture_2.jpg);
    padding-top: 80px;
    color: #000
}

section .cart {
    background: url(../img/texture_2.jpg);
    padding-top: 30px;
    padding-bottom: 50px;
    color: #000
}

section .orders {
    background-color: #fff;
    padding-top: 20px;
    color: #000
}

section .checkout {
    background: url(../img/texture_2.jpg);
    padding-top: 80px;
    color: #000
}

.empty-cart {
    padding-top: 0;
    padding-bottom: 0
}

.input-padding {
    padding-bottom: 25px
}

.input {
    height: 35px;
    -moz-border-radius: 10%;
    width: 200px
}

.input-order {
    display: block;
    width: 100%;
    height: 34px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none
}

.textarea {
    height: 100px
}

.order-info {
    display: block;
    width: 60%;
    height: 100px;
    font-size: 16px;
    line-height: 1.42857143;
    resize: none
}

.featured-products {
    background: url(../img/texture_1.jpg)
}

.navbar {
    background: #fff;
    opacity: .85;
    -webkit-opacity: .85;
    -moz-opacity: .85
}

.authorization {
    color: red;
    font: 700 42px 'Arial Black'
}

.error {
    background: url(../img/texture_2.jpg);
    font-size: 35px;
    font-weight: 700;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center
}

.section-name {
    font-size: 30px;
    font-weight: 700;
    padding-top: 65px;
    padding-bottom: 20px;
    text-align: center
}

.home-block-name {
    font: 700 25px 'Arial Black'
}

.cart-table {
    background: url(../img/texture_1.jpg);
    padding: 30px;
    color: #000
}

section .admin-page {
    background: #fff
}

.blink {
    -webkit-transition: all ease-in-out .2s
}

.blink:hover {
    opacity: .7
}

.price-top {
    position: absolute;
    top: 7%;
    left: 47%;
    padding: .2em .6em .3em;
    background-color: #00ce1b;
    border-radius: 10% / 50%;
    color: #fff;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline
}

.price-product {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 90%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    background-color: red;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em
}

section div a div {
    padding-top: 15px;
    padding-bottom: 15px
}

section div a {
    text-decoration: none
}

.icon-block {
    padding-bottom: 45px;
    text-align: center
}

.icon-block-payment-delivery {
    padding-top: 75px;
    padding-bottom: 45px;
    text-align: center
}

.intro-text {
    text-align: center
}

.icon-text {
    color: #5a3015;
    font: 22px 'Arial Black'
}

.btn-logout {
    margin-right: 15px;
    margin-left: 15px
}

.social {
    padding-left: 16px
}

.color-green {
    color: #00ce1b
}

.color-brown {
    color: #5a3015
}

.color-red {
    color: red
}

.color-black {
    color: #000
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(Roboto), local(Roboto-Regular), url(http://fonts.gstatic.com/s/roboto/v15/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(Roboto), local(Roboto-Regular), url(http://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(Roboto), local(Roboto-Regular), url(http://fonts.gstatic.com/s/roboto/v15/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
    unicode-range: U+1F00-1FFF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(Roboto), local(Roboto-Regular), url(http://fonts.gstatic.com/s/roboto/v15/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(Roboto), local(Roboto-Regular), url(http://fonts.gstatic.com/s/roboto/v15/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(Roboto), local(Roboto-Regular), url(http://fonts.gstatic.com/s/roboto/v15/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format("woff2");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(Roboto), local(Roboto-Regular), url(http://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

@font-face {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: 400;
    src: local('Arial Black'), local(ArialBlack), url(http://fonts.gstatic.com/l/font?kit=7ElOOAO7mews2kB7feQNqWo_sUJ8uO4YLWRInS22T3Y&skey=f5c444da86865f17&v=v8) format("woff2");
    unicode-range: U+0370-03FF
}

@font-face {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: 400;
    src: local('Arial Black'), local(ArialBlack), url(http://fonts.gstatic.com/l/font?kit=7ElOOAO7mews2kB7feQNqSYE0-AqJ3nfInTTiDXDjU4&skey=f5c444da86865f17&v=v8) format("woff2");
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Arial Black';
    font-style: normal;
    font-weight: 400;
    src: local('Arial Black'), local(ArialBlack), url(http://fonts.gstatic.com/l/font?kit=7ElOOAO7mews2kB7feQNqY4P5ICox8Kq3LLUNMylGO4&skey=f5c444da86865f17&v=v8) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000
}

.text-shadow {
    text-shadow: 1px 1px 1px white, 0 0 15px #fff
}
